div.container {
    p.description {
        color: var(--color);
    }

    div.icons {
    }

    p.copyright {
        color: var(--color);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
}
