:root {
    --color: black;
    --background-color: #e0e5ec;
    --accent-color: #a74a4a;

    --neumorphic-leading-shadow-color: rgba(255, 255, 255, 0.5);
    --neumorphic-trailing-shadow-color: rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: rgb(207, 197, 197);
        --background-color: #1a1c25;
        --accent-color: #a74a4a;

        --neumorphic-leading-shadow-color: rgba(255, 255, 255, 0.02);
        --neumorphic-trailing-shadow-color: rgba(0, 0, 0, 0.1);
    }
}
